/** ANI  **/

.bottom-ani{
    -webkit-animation : bounceInUp 0.6s ease 0.2s  1 both;
    animation : bounceInUp 0.6s ease  0.2s  1 both;
}
.bike{
    -webkit-animation : bounceInRight 0.6s  ease 0.7s  1 both;
    animation : bounceInRight 0.6s ease  0.7s  1 both;
}
.font-01{
    -webkit-animation : zoomIn 0.6s ease 1.3s  1 both;
    animation : zoomIn 0.6s ease 1.3s  1 both;
}
.font-02{
    -webkit-animation : zoomIn 0.6s ease  1s  1 both;
    animation : zoomIn 0.6s ease 1s  1 both;
}
.font-03{
    -webkit-animation : zoomIn 0.6s ease 0.7s  1 both;
    animation : zoomIn 0.6s ease 0.7s  1 both;
}
.font-04{
    -webkit-animation : bounceInDown 0.6s ease 0s  1 both;
    animation : bounceInDown 0.6s ease 0s  1 both;
}
.police{
    -webkit-animation : zoomIn 0.6s ease 1.2s  1 both;
    animation : zoomIn 0.6s ease 1.2s  1 both;
}

.font-05{
    -webkit-animation : bounceInDown 0.6s ease 1.3s  1 both;
    animation : bounceInDown 0.6s ease 1.3s  1 both;
}
.table-xiaoren{
    -webkit-animation : bounceInRight 0.6s ease 0s  1 both;
    animation : bounceInRight 0.6s ease 0s  1 both;
}
.xiaorenshu{
    -webkit-animation : fadeInRight ease 0.6s 0.7s  1 both;
    animation : fadeInRight 0.6s ease 0.7s  1 both;
}
.bingfeng{
    -webkit-animation : bounceInLeft ease 0.6s 0.7s  1 both;
    animation : bounceInLeft 0.6s  ease 0.7s  1 both;
}
.font-06{
    -webkit-animation : zoomIn 0.6s ease 1.3s  1 both;
    animation : zoomIn 0.6s ease 1.3s  1 both;
}
.font-07{
    -webkit-animation : zoomIn 0.6s ease 0.7s  1 both;
    animation : zoomIn 0.6s ease 0.7s  1 both;
}
.gift{
    -webkit-animation : bounceInLeft 0.6s ease 0.7s  1 both;
    animation : bounceInLeft 0.6s ease 0.7s  1 both;
}
.font-qingchundalibao{
    -webkit-animation : zoomIn 0.6s ease 1.3s  1 both;
    animation : zoomIn 0.6s ease 1.3s  1 both;
}
.hengfu{
    -webkit-animation : bounceInLeft 0.6s ease  0s  1 both;
}
.hengfu-font{
    -webkit-animation : zoomIn 0.6s ease  0.7s  1 both;
}