/* scroll 界面基本配置 */
.content,
.content .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/** 竖向滚css **/
.screen-all {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    -webkit-transition:  -webkit-transform 0.6s ease;
    transition: transform  0.6s ease;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    color: #000000;
    
    background: url("../../imgs/bg.jpg");
    background-size: cover;
}   

.hide {
    display: none;
}

/* sprite图片 */
.font-img {
    background: url('../../imgs/cc-font.png');
    background-size: 250px 1500px;
    background-repeat: no-repeat;
}

.pic-img {
    background: url('../../imgs/cc-pic.png');
    background-size: 500px 2000px;
    background-repeat: no-repeat;
}
/* scroll 界面基本配置 */

.pos{
    position: absolute;
    top: 50%;
    left: 50%;
}

.logo{
    background-position: 0 0;
    width: 64.5px;
    height: 41.5px;
    position: absolute;
    left: 20px;
    top: 24px;
    z-index: 999;
}
.bike{
    background-position: 0 -41.5px;
    width: 167.5px;
    height:156.5px;

    position: absolute;
    bottom: 10%;
    right: -19px
}
.police{
    background-position: 0 -197.5px;
    width: 143.5px;
    height: 113px;
    left: 50%;
    margin-left: -72px;
    bottom: 62px;
    position: absolute;
}
.bingfeng{
    background-position: 0  -315.5px;
    width: 143.5px;
    height: 166px;


    position: absolute;
    margin-top: -80px;
    top: 50%;
    left: -68px
}

.table-xiaoren{
    background-position: 0 -774px;
    width: 381px;
    height: 121.5px;
    position: absolute;
    bottom: -22px;
    right: -93px;
    z-index: 3;
}

.xiaorenshu{
    background-position: 0  -903.5px;
    width: 352.5px;
    height: 166px;
    position: absolute;
    right: 0;
    bottom: 88.5px;
    z-index: 2;
}
.scene-01{
    background: url("../../imgs/scene-01.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 205px;
}
.scene-02{
    background: url("../../imgs/scene-02.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 270.5px;
}

.scene-03{
    background: url("../../imgs/scene-03.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 169.5px;
}
.scene-04{
    background: url("../../imgs/scene-04.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 216px;
}
.scene-05{
    background: url("../../imgs/scene-05.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 235.5px;
}
.font-01{
    background-position: 0 0 ;
    width: 125px;
    height: 140.5px;
    margin-left: -62.5px;
    margin-top: -130px;
}
.font-02{
    background-position: 0 -140.5px;
    width: 139.5px;
    height: 87px;
    margin-left: -62.5px;
    margin-top: -108px
}
.font-03{
    background-position: 0 -227.5px;
    width: 125px;
    height: 187px;
    margin-left: -62.5px;
    top: 15%;
}

.font-04{
    background-position: 0 -414px;
    width: 140px;
    height: 171px;
    margin-left: -62.5px;
    position: absolute;
    top: 15%;
}

.font-05{
    background-position: 0 -584.5px;
    width: 139.5px;
    height: 174px;

    position: absolute;
    top: 12%;
    right: 10%;
}

.font-06{
    background-position: 0 -758.5px;
    width: 207px;
    height: 117.5px;
    margin-left: -65px;
    margin-top: -108px
}
.font-07{
    background-position: 0 -876px;
    width: 112px;
    height: 178px;
    margin-left: -56px;
    top: 15%;
}


.font-qingchundalibao{
    background-position: -154.5px -414px;
    width: 95.5px;
    height: 145.5px;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -48px;
}

.hengfu-scroll{
    background-position: 0 -1243.5px;
    width: 205.5px;
    height: 17px;
}
.hengfu-body{

    background-position: -166.5px -310.5px;
    width: 177.5px;
    height: 225.5px;
}
.hengfu-body-wrap{
    background-color: #ede7d9;
    width: 184px;
    height: 230px;
    text-align: center;
    margin-left: 10px;
    padding-top: 4px;
}
.hengfu{
    position: absolute;
    left: 50%;
    margin-left: -103px;
    bottom: 20%;
}

.redtran{
    background-position: -334px -41.5px;
    width: 166.5px;
    height: 72.5px;
    position: relative;
    left: 50%;
    margin-left: -83px;
    top: 23px;
}
.hengfu-sd{
    -webkit-transform: translateY(246px);
    transform: translateY(246px);

}
.hengfu-hidden{
    overflow-y: hidden;
}

.font-color{
    color: #744f3d;
    font-size: 18px;
}
.bold{
    font-weight: bold;
}


.gift{
    background-position: 0 -535px;
    width: 127px;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-left: -63px;
    top: -118px;
}

.price-bg{
    background: url("../../imgs/price-bg.jpg");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:  136px;
}

.long{
    background-position: 0 -1113px;
    width: 183.5px;
    height: 196.5px;

    position: absolute;
    left: 50%;
    top : 50%;
    margin-left:  -92px;
    margin-top : -98px;
 }


/** 分享朋友圈 **/
.share{
    position: relative;
    width: 100%;
    height: 100%;
    color: #000000;
    background: url("../../imgs/bg.jpg");
    background-size: cover;
}

.share-layer{
    position: absolute;
    right: 4px;
    top: 10px;

    background-position: -166.5px -160.5px;
    width: 306px;
    height: 150px;

    z-index: 999;
}

.share-btn{
    width: 157px;
    height: 36px;
    line-height: 36px;
    background: transparent;
    padding: 0;
    margin: 0;
    color: #744f3d;
    border: 1px solid #744f3d;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -78.5px;
}

.success-top{
    height: 70%;
}

.input-cc{
    width: 157px;
    height: 36px;
    line-height: 36px;
    background: transparent;
    padding: 0;
    margin: 0;
    color: #744f3d;
    border: 1px solid #744f3d;
    font-size: 18px;
}

.success-bottom{
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}
.form-group{
    margin-top: 13px;
}

.input-cc::-webkit-input-placeholder {
    color:    #744f3d;
    text-align: center;
}
.input-cc:-moz-placeholder {
    color:    #744f3d;
    text-align: center;
}